<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="N11 Test Suite" >
    <listeners>
        <listener class-name="com.codProg.src.main.java.listeners.TestListener"/>
        <listener class-name="com.codProg.src.main.java.listeners.AnnotationTransformer"/>
    </listeners>

    <test name="HomePageTest">
        <classes>
            <class name="tests.HomePageTests"/>
        </classes>
    </test>
</suite>